.tile{
  width: 70%;
  height: 70%;
}

.tile mat-card-title{
  font-size: 11pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6vw;
  margin-left: 0 !important;
}

.tile img{
  width: auto;
  padding-left: 19%;
}
