.right{
    -fx-background-color: #FFFFFF;
}

.left{
    -fx-background-color: #3792F7;
}


.connect{
    -fx-text-fill : #3792F7;
    -fx-font: 24 ubuntu;
}

.input{
    -fx-text-box-border: #3792F7 ;
    -fx-focus-color: #3792F7 ;
    -fx-cursor: hand;
}

.inputWrong{
    -fx-text-box-border: #ed0e24 ;
    -fx-focus-color: #ed0e24 ;
    -fx-cursor: hand;
}

.btn-connect{
    -fx-background-color: none ;
    -fx-border-color: #3792F7;
    -fx-text-fill : #3792F7;
}

.clk-label{
    -fx-text-fill : #3792F7;
    -fx-underline : true;
    -fx-cursor: hand;
}

.social-network{
    -fx-padding : 100 0 0 0;
}

.hover:hover{
    -fx-cursor: hand;
}

.boxe:selected .box{
    -fx-background-color: #37ed1a;
}

.chekbox .box{
    -fx-background-color: #ed0e24;
}

.datepicker,.datepicker .text-field{
    -fx-border-color: #3792F7;
}

.mainbar{
    -fx-background-color: #3792F7;
}

.nuages:hover{
    -fx-cursor: hand;
    -fx-border-color: #00c7ff;
}

.dossier{
    -fx-border-color: #000000;
}

.nuageFiles{
    -fx-padding: 0 0 0 10;
}



