<div class="contain">
  <mat-card class="contained">
    <mat-grid-list cols="2" rowHeight="100%">
      <mat-grid-tile class="lft">
        <img src="./assets/img/logo.png">
      </mat-grid-tile>
      <mat-grid-tile>
        <form class="frm"[formGroup]="myForm" (ngSubmit)="onSubmit()">
          <h1 class="fil titre">Inscription</h1>
          <mat-form-field class="fil">
            <input matInput placeholder="Prénom" formControlName="firstname" required>
          </mat-form-field>
          <mat-form-field class="fil">
            <input matInput placeholder="Nom" formControlName="lastname" required>
          </mat-form-field>
          <mat-form-field class="fil">
            <input matInput placeholder="Email" formControlName="email" required>
          </mat-form-field>
          <mat-form-field class="fil">
            <input matInput placeholder="Mot de passe" type="password" formControlName="password" required>
          </mat-form-field>
          <mat-form-field class="fil">
            <input matInput placeholder="Confirmation du mot de passe" type="password" formControlName="password2" required>
          </mat-form-field>
          <button mat-button type="submit">S'inscrire</button>
          <a class="fila" routerLink="/user/signin">Deja un compte ? Connectez vous</a>
        </form>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>


