.cloud{
  background: none;

}

.searchbar{
  position: fixed;
  top: 20px;
  z-index: 2000;
  width: 33.3vw;
  max-width: none !important;
}

.cover{
  padding-right: 50px;
  padding-left: 50px;
}



.img{
  width: 6vw;
  height: 8vh;
}

.dropped{
  border: #4b9df8 ;
}

.z-depth {
  box-shadow: 0 0 2px rgba(10,16,20,.15), 0 0 2px rgba(10,16,20,.12) !important;
  transform: translate3d(0,0,0);
  /*transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);*/
}

.z-depth:hover {
  box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
