<input
  nbInput
  class="searchbar"
  type="text"
  fieldSize="medium"
  status="info"
  shape="semi-round"
  placeholder="Rechercher ici..."
  (keyup)="onKey($event)">

<mat-grid-list
  rowHeight="1.2:1"
  cols="5"
  id="cloudList"
  nbInfiniteList
  listenWindowScroll
  [threshold]="500"
  (bottomThreshold)="loadNext()">
  <mat-grid-tile
    class="cloud"
    *ngFor="let cloud of cloudstmp"
    (contextmenu)="onContextMenu($event, cloud)">
    <mat-card class="z-depth cover" routerLink="/nuage/{{cloud._id}}/{{cloud.parentEntity}}">
      <img  mat-card-sm-image [src]="cloud.image" class="img">
      <mat-card-header>
          <mat-card-title>{{cloud.name}}</mat-card-title>
          <mat-card-subtitle>{{cloud.date_created}}</mat-card-subtitle>
      </mat-card-header>
  </mat-card>

  </mat-grid-tile>
  <div style="visibility: hidden; position: fixed"
       [style.left]="contextMenuPosition.x"
       [style.top]="contextMenuPosition.y"
       [matMenuTriggerFor]="contextMenu">
  </div>
  <mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
      <button
        mat-menu-item
        (click)="openDialog('delete', 'Etes-vous sur ?')">Supprimer</button>
      <button
        mat-menu-item
      (click)="openDialog('rename', 'Nouveau nom')">Renommer</button>
      <button
        mat-menu-item
      (click)="openDialog('share', 'Entrez un email')">Partagez avec..</button>
    </ng-template>
  </mat-menu>
</mat-grid-list>
