<mat-grid-list cols="4" class="myHeight">
  <mat-grid-tile class="icon">
    <nb-icon icon="download-outline"></nb-icon>
  </mat-grid-tile>
  <mat-grid-tile class="icon">
    <nb-icon icon="share-outline"></nb-icon>
  </mat-grid-tile>
  <mat-grid-tile class="icon">
    <nb-icon icon="trash-2-outline"></nb-icon>
  </mat-grid-tile>
  <mat-grid-tile class="icon">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <nb-icon icon="info-outline"></nb-icon>
        <span>Informations</span>
      </button>
      <button mat-menu-item disabled>
        <nb-icon icon="link-2-outline"></nb-icon>
        <span>Lien direct</span>
      </button>
      <button mat-menu-item>
        <nb-icon icon="move-outline"></nb-icon>
        <span>Deplacer</span>
      </button>
    </mat-menu>
  </mat-grid-tile>

  <mat-grid-tile colspan="4">
    Filename.docx
  </mat-grid-tile>
  <mat-grid-tile colspan="4">
    <img src="./assets/img/logo.png">
  </mat-grid-tile>
  <mat-grid-tile colspan="4">
    Taille : 1.25Mo
  </mat-grid-tile>
  <mat-grid-tile colspan="4">
    Partagé avec :
  </mat-grid-tile>
  <mat-grid-tile colspan="4" *ngFor="let user of users">
    {{user}}
  </mat-grid-tile>
  <mat-grid-tile colspan="4">
    Dernieres modifications :
  </mat-grid-tile>
  <mat-grid-tile colspan="4" *ngFor="let act of activity">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{act[0]}}
        </mat-card-title>
        <mat-card-subtitle>
          {{act[1]}}
          {{act[2]}}
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
