<mat-grid-list cols="4" gutterSize="10px">
  <mat-grid-tile class="icon">
    <button mat-icon-button [matMenuTriggerFor]="downloads" aria-label="Example icon-button with a menu">
      <nb-icon icon="download-outline"></nb-icon>
    </button>
    <mat-menu #downloads="matMenu">
      <button mat-menu-item *ngFor="let n of versions">
        <nb-icon icon="file-text-outline"></nb-icon>
        <span (click)="download(n._id,n.name)">{{n.version + 1}} - {{formated(n.created)}} | {{printSize(n.size)}}</span>
      </button>
    </mat-menu>
  </mat-grid-tile>
  <mat-grid-tile class="icon">
    <nb-icon icon="share-outline"></nb-icon>
  </mat-grid-tile>
  <mat-grid-tile class="icon">
    <button mat-button (click)="delete()">
      <nb-icon icon="trash-2-outline"></nb-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile class="icon">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <nb-icon icon="info-outline"></nb-icon>
        <span>Informations</span>
      </button>
      <button mat-menu-item>
        <nb-icon icon="link-2-outline"></nb-icon>
        <span>Lien direct</span>
      </button>
      <button mat-menu-item disabled>
        <nb-icon icon="move-outline"></nb-icon>
        <span>Deplacer</span>
      </button>
    </mat-menu>
  </mat-grid-tile>

  <mat-grid-tile colspan="4">
    {{name}}
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="3">
    <img src="./assets/img/logo.png">
  </mat-grid-tile>
  <mat-grid-tile colspan="4"  *ngIf="size != ''">
    Taille : {{size}}{{sizeU}}
  </mat-grid-tile>
  <mat-grid-tile colspan="4">
    Dernieres modifications :
  </mat-grid-tile>
  <mat-grid-tile colspan="4" *ngFor="let act of history">
    <mat-card class="resize">
      <mat-card-header>
        <mat-card-title>
          {{act.action}}
        </mat-card-title>
        <mat-card-subtitle>
          {{cuteName(act.user.name)}} {{act.user.firstname}}
             - {{formated(act.date)}}
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
