<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">User Name</label>
        <input type="text" class="form-control" formControlName="user_name" #user_name [value]="user.name"/>
      </div>
      <div *ngIf="angForm.controls['user_name'].invalid && (angForm.controls['user_name'].dirty || angForm.controls['user_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['user_name'].errors.required">
          User Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Email</label>
        <input type="text" class="form-control" formControlName="user_email" #user_email [value]="user.email" />
      </div>
      <div *ngIf="angForm.controls['user_email'].invalid && (angForm.controls['user_email'].dirty || angForm.controls['user_email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['user_email'].errors.required">
          Email is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Mot de Passe</label>
        <input type="password" class="form-control" formControlName="user_pwd" #user_pwd [value]="user.password" />
      </div>
      <div *ngIf="angForm.controls['user_pwd'].invalid && (angForm.controls['user_pwd'].dirty || angForm.controls['user_pwd'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['user_pwd'].errors.required">
          Password is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="updateUser(user_name.value, user_email.value, user_pwd.value)"
                [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Update User</button>
      </div>
    </form>
  </div>
</div>
