<form class="frm">
  <mat-form-field class="fil">
    <input matInputformControlName="nom"  placeholder="Nom" value="Nom">
  </mat-form-field>

  <mat-form-field class="fil">
    <input matInput formControlName="prenom" placeholder="Prenom" value="Prenom">
  </mat-form-field>

  <mat-form-field class="fil">
    <input matInput formControlName="email" placeholder="Email" value="Email">
  </mat-form-field>

  <mat-form-field class="fil">
    <input matInput formControlName="password" placeholder="Password" value="Password" type="password">
  </mat-form-field>

  <button mat-button type="submit">Se connecter</button>
</form>
