.frm{
  padding: 0 1vw 0 1vw;
  width: 40vw;
  text-align: center;
}

.fil{
  width: 100%;
}

.myHeight .mat-list-item{
  height: auto;
}

.imgformat{
  max-height: 7vw;
  height: 7vw;
  max-width: 7vw;
}


