<mat-grid-list cols="8" rowHeight="70%">
  <mat-grid-tile>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <img src="https://cdn.pixabay.com/photo/2017/05/13/23/05/img-src-x-2310895_960_720.png">
      </mat-list-item>
      <mat-list-item role="listitem">
        <button>Changer d'image</button>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <form class="frm" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="fil">
        <input matInput matInputformControlName="nom" placeholder="Nom" value="Nom">
      </mat-form-field>

      <mat-form-field class="fil">
        <input matInput formControlName="prenom" placeholder="Prenom" value="Prénom">
      </mat-form-field>

      <mat-form-field class="fil">
        <input matInput formControlName="email" placeholder="Email" value="Email">
      </mat-form-field>

      <mat-form-field class="fil">
        <input matInput formControlName="password" placeholder="Mot de passe" value="Password" type="password">
      </mat-form-field>

      <button mat-button type="submit">Update</button>
    </form>
  </mat-grid-tile>
</mat-grid-list>

